*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout Test */

.bgred{
    background-color: red;
    border: 1px solid black;
}

.height250{
    height: 250px;
}

.height400{
    height: 400px;
}

.height75{
    height: 75px;
}

/* Columns */

.col30,
.col33,
.col33b,
.col50,
.col70,
.col100{
    width: calc(100% - 20px);
}

/* Common */

.container{
    max-width: 100%;
    margin: 0 auto;
}

.row{
    width: 100%;
    display: flex;
    padding: 30px;
}

.wrap{
    flex-wrap: wrap;
}

.gap{
    gap: 20px;
}

.spacebet{
    justify-content: space-between;
}

.bgpurple{
    background-color: #9792E4;
}

.bgwhite{
    background-color: white;
}

.bgblue{
    background-color: #0084FD;
}

.bgcyan{
    background-color: #B5DDFF;
}

.bdrad{
    border-radius: 5%;
}

img{
    width: 100%;
}

.textcenter{
    text-align: center;
}

.margin-y-20{
    margin: 20px auto;
}

.fontwhite{
    color: white;
}

/********* MAIN **********/

/* Header */

header img{
    width: 30%;
}

header i{
    font-size: 35px;
}

/* Jumbotron */

.democontent{
    padding: 5% 10% 0 10%;
}

.jumbocontent{
    padding: 10%;
}

#jumbo h2{
    color: #0084FD;
    margin: 20px auto;
}

#jumbo i{
    color: #0084FD;
    font-size: 90px;
}

#jumbo b{
    color: darkgray;
}

#app{
    margin: 20% auto;
}

#app a{
    background-color: #0084FD;
    color: white;
    padding: 5% 20%;
    text-decoration: none;
}

#app i{
    font-size: 15px;
    color: white;
}

/* Strategy */

.strategycontent h2, p{
    color: white;
    margin: 20px auto;
}

.developcontent h2, p{
    color: black;
    margin: 20px auto;
}

.developcontent{
    padding: 10%;
}

.developcontent a{
    color: black;
    background-color: #9792E4;
    border-radius: 50%;
    padding: 5%;
}

/* Testimonials */

.testcontent{
    color: white;
    padding: 10%;
}

.testcontent img{
    border-radius: 100%;
}

.testcontentb h2{
    color: #9792E4;
    font-size: 35px;
}

.testcontentb p:first-child{
    font-size: 12px;
}

.testcontentb p:last-child{
    font-size: 22px;
}


/* Benefits */



/* About Us */



/* Get Started */



/********* FOOTER *********/



/********* MEDIA QUERY *********/

@media screen and (min-width: 768px){
    .col30{
        width: calc(30% - 20px);
    }
    
    #benefits .col33{
        width: calc(100% / 2 - 20px);
    }

    .col33{
        width: calc(100% / 3 - 20px);
    }
    
    .col33b{
        width: calc(100% / 3 * 2 - 20px);
    }
    
    .col70{
        width: calc(70% - 20px);
    }

    .democontent{
        padding: 10%;
    }

    .democontent img{
        float: right;
    }

    .testcontent img{
        float: left;
    };
}

@media screen and (min-width: 1200px){

}